
<div class="row title-toolbar">
	<div class="banner-text">
		
		<div class="logo-elvis">
        	<img ng-src="/img/logo-inv-3.jpg">
    	</div>
    	
    	</div>
    	<div class="svg-icons pull-right">
			<a href="https://www.facebook.com/Elvis-Fajko-%C5%A1expir-band-394385807297341/" target="blank">
        		<img ng-src="/img/icon-fb.png">
        	</a>
            <a href="https://www.youtube.com/user/elvisfajko1" target="blank">
            	<img ng-src="/img/youtube-icon.png">
            </a>
			<div class="email-title">	         
				<p>elvisfajko@yahoo.com</p>
			</div>
			<div class="page-counter" ng-controller="VisitCounterCtrl">
	    		<p>{{counter}} </p>
	    		<small>obiskov</small>
    		</div>
    	</div>
		<div class="picture-elvis">
        	<img src="/assets/img/elvis-front-3-3.png"> </img>
    	</div>
    	<div style="clear: both;"></div>
	</div>

		    <ul class="nav navbar-nav">
		      <li><a class="home-link-panel" href="#about_me">O MENI</a></li>
		      <li><a class="home-link-panel" href="#aktualno">AKTUALNO</a></li>
		      <li><a class="home-link-panel music" href="#music">GLASBA</a></li>
		      <li><a class="home-link-panel music" href="#video">VIDEO</a></li>
		      <li class="sejkspir-item"><a class="home-link-panel sejkspir-link" href="#sejkspir"><img ng-src="/img/sejkspir-logo-2.png
  " src="img/sejkspir-logo-2.png"></a></li>
		    </ul>
	</div>
</div> 
    
