
<div class="row title-toolbar">
	<div class="header-logo col-lg-2">
		
		<div class="logo-elvis">
        	<img ng-src="/img/logo-inv-3.jpg" alt="logo">
    	</div>
    	
    	</div>
    	<div class="svg-icons pull-right col-md-4 col-md-3 col-lg-2">
			<a href="https://www.facebook.com/elvisfajkokantavtor/" target="blank">
        		<img ng-src="/img/icon-fb.png">
        	</a>
            <a href="https://www.youtube.com/user/elvisfajko1" target="blank">
            	<img ng-src="/img/youtube-icon.png">
            </a>
			<div class="email-title">	         
				<p>elvisfajko@yahoo.com</p>
			</div>
			<!--<div class="page-counter" ng-controller="VisitCounterCtrl">
	    		<p>{{counter}} </p>
	    		<small>obiskov</small>
    		</div> -->
    	</div>
		<div class="picture-elvis col-lg-8 col-sm-12 col-md-12">
        	<img src="/assets/img/elvis-front-3-2.png" alt="naslovnica elvis fajko"> </img>
    	</div>
    	<div style="clear: both;"></div>
	</div>

	<div class="navigation-bar-main nav">
	<div class="inner-navbar-div">
	  <div class="header-link col-lg-2 col-md-2 col-sm-6 col-xs-12 about-me-link"><a class="home-link-panel" href="about_me">DOMOV </a></div>
      <div class="header-link col-lg-2 col-md-2 col-sm-6 col-xs-6"><a class="home-link-panel" href="/concerts">KONCERTI </a></div>
      <div class="header-link col-lg-2 col-md-2 col-sm-6 col-xs-6"><a class="home-link-panel" href="/other">DOGODKI </a></div>
      <div class="header-link col-lg-2 col-md-2 col-sm-6 col-xs-6"><a class="home-link-panel" href="/music">GLASBA </a></div>
      <div class="header-link col-lg-2 col-md-2 col-sm-6 col-xs-6"><a class="home-link-panel" href="/video">VIDEO </a></div>
    </div> 
	</div>
<!--
		    <ul class="nav navbar-nav">
		      <li><a class="home-link-panel" href="#about_me">DOMOV</a></li>
		      <li><a class="home-link-panel" href="#concerts">KONCERTI</a></li>
		      <li><a class="home-link-panel" href="#other">OSTALI DOGODKI</a></li>
		      <li><a class="home-link-panel music" href="#music">GLASBA</a></li>
		      <li><a class="home-link-panel music" href="#video">VIDEO</a></li> -->
		     <!--  <li class="sejkspir-item"><a class="home-link-panel sejkspir-link" href="#sejkspir"><img ng-src="/img/sejkspir-logo-2.png
  " src="img/sejkspir-logo-2.png"></a></li> -->
		<!--    </ul> -->
    
