
<div class="row title-toolbar">
	<div class="banner-text">
		<!-- <div class="text-items">
			<div class="front-text">
				<a class="home-link" href="#home"><span>ELVIS FAJKO</span></a>    
			</div>
			<p class="title-description-text">Uradna spletna stran</p>
		</div> -->
		<div class="svg-icons pull-right">
			<a href="https://sl-si.facebook.com/pg/EF-%C5%A1expir-band-394385807297341/about/">
        	<img ng-src="/img/facebook.svg">
        	</a>

            <a href="#video"><img ng-src="/img/youtube.svg"></a>
            <a href="mailto:demo@demo.com">
				<img ng-src="/img/email1.png">
			</a>
    	</div>
		<div class="logo-elvis">
        	<img ng-src="/front/logo.jpg">
    	</div>
    	<div class="picture-elvis">
        	<img src="/assets/img/Elvis_2.jpg"> </img>
    	</div>

	</div>

	

	<div class="links">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <!-- <li><a class="home-link-panel" href="#home">DOMOV</a></li> -->
		      <li><a class="home-link-panel" href="#about_me">O MENI<a/></li>
		      <li><a class="home-link-panel" href="#concerts">KONCERTI</a></li>
		      <li><a class="home-link-panel" href="#music">GLASBA</a></li>
		      <li><a class="home-link-panel" href="#video">VIDEO</a></li>
		      <li><a class="home-link-panel" href="#links">POVEZAVE</a></li>
		      <li><a class="home-link-panel" href="#sejkspir">šeXpir band</a></li>
		    </ul>
	  	  </div>
		</nav>
	</div>
</div> 
    