<div>


  <br>
  <br>
  <p><strong>NAROČI CD "RDEČI ALBUM - Na koncu"</strong> prek e-pošte  <p><a href="mailto:elvisfajko@yahoo.com" target="_top">elvisfajko@yahoo.com</a>

    <div class="about-me">
    	<div class="about-subtitle">KRATKA PREDSTAVITEV</div>
	    
	    
		<p class="about-description">Jeseniški kantavtor se na glasbenem področju javnosti predstavlja že od otroštva, zadnjih 25 let pa na področju rock-a in pop-a z glasbeno skupino ali pa kot kantavtor. Predstavljal se je predvsem na gorenjskem, posamezni nastopi pa so zabeleženi tudi drugje v Sloveniji in izven nje. Kot avtor glasbe in član zasedbe je sodeloval na albumu skupine Skarabeji (leta 2003), kjer se je predstavil predvsem kot vokalist. Po tem pa je začel pripravljati avtorsko glasbo tudi kot kantavtor. Prvenec v pop in rock zvrsti je izšel na praznik Jesenic 20. marca 2018.

Idej je še veliko, zato se že pripravlja material za drugi album.</p>


		<div class="about-subtitle">PREJŠNJE SKUPINE</div>

		<p class="about-description">ŠeXpir band, Kontrast, For fun, Drugo dejanje, Skarabeji (Skarabej band), Eulex bend 2011, IF (tribute Pink Floyd)</p>

	    <div class="about-subtitle">AKTUALNE POVEZAVE</div>
        
        <ul>
			<li>-&nbsp <a class="p-link" href="https://soundcloud.com/elvis-fajko/elvis-fajko-pop-rock-blues-man">
                 Elvis Fajko - Pop Rock Blues Man
                </a>
            </li>
        </ul>    
	    
	    	<ul>
			<li>-&nbsp <a class="p-link" href="https://www.youtube.com/watch?v=e2f687fNA9Y" target="blank"><strong>Mesto jekla in narcis - Elvis Fajko (v živo v Ljubljani) - </strong>YouTube</a></li>
		</ul>
	    
	    	<ul>
			<li>-&nbsp <a class="p-link" href="https://www.youtube.com/watch?v=iDyy6M78bd0" target="blank"><strong>Jeseničan - Elvis Fajko - </strong>YouTube</a></li>
		</ul>
	    
	    	<ul>
			<li>-&nbsp <a class="p-link" href="https://www.youtube.com/watch?v=iBwaozRjmbc" target="blank"><strong>Na koncu - Elvis Fajko - </strong>YouTube</a></li>
		</ul>
	    
	    	<ul>
			<li>-&nbsp <a class="p-link" href="https://www.youtube.com/watch?v=kypSDhHvZOw" target="blank"><strong>Zgornjesavska dolina - </strong>YouTube</a></li>
		</ul>
		<ul>
			<li>-&nbsp <a class="p-link" href="https://www.youtube.com/watch?v=Rkcvf9bKMsM" target="blank"><strong>Mesto jekla in narcis - </strong>YouTube</a></li>
		</ul>

		<br>
        
        
        <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <!-- Displays with 2 device pixels per CSS pixel -->
<!--    <source srcset="assets/img/Elvis_1-small.jpg, /assets/img/Elvis_1-large.jpg 2x"/>-->
    <!-- Preset media queries -->
    <source srcset="assets/img/logo-inv-4.jpg"  media="(min-width: 1000px)"/>
    <source srcset="assets/img/logo-inv-3.jpg" media="(min-width: 1500px)"/>
    <source srcset="assets/img/logo-inv-2.jpg" media="(min-width: 300px)"/>
    <source srcset="assets/img/logo-inv-1-1.jpg" media="(min-width: 600px)"/>
    <!-- Custom media query -->
   
            <img alt="assets/img/logo-inv-3.jpg">
</picture>
		

		<ul>
			<li>
				

                <img picturefill srcset="/assets/img/Elvis_1-small.jpg, /assets/img/Elvis_1-small.jpg 2x"/>
            

    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <!-- Displays with 2 device pixels per CSS pixel -->
  
			</li>	
		</ul>
		<ul>
			<li>
				<div class="elvis-new-2"> </div>
			</li>	
		</ul>
    </div>
        
</div>
