<div ng-controller="AboutMeCtrl">

    <div class="about-me">
    	<div class="about-subtitle">KRATKA PREDSTAVITEV</div>

		<p class="about-description">Jeseniški kantavtor se na glasbenem področju javnosti predstavlja že od otroštva, zadnjih 25 let pa na področju rock-a in pop-a z glasbeno skupino ali pa kot kantavtor. Predstavljal se je predvsem na gorenjskem, posamezni nastopi pa so zabeleženi tudi drugje v Sloveniji in izven nje. Kot avtor glasbe in član zasedbe je sodeloval na albumu skupine Skarabeji (leta 2003), kjer se je predstavil predvsem kot vokalist. Po tem pa je začel pripravljati avtorsko glasbo tudi kot kantavtor. Prvenec v pop in rock zvrsti je skoraj da že pripravljen. Idej je še veliko, zato se že pripravlja material za drugi album, ki bo verjetno drugačne glasbene zvrsti kot prvenec.</p>


		<div class="about-subtitle">PREJŠNJE SKUPINE</div>

		<p class="about-description">Kontrast, For fun, Drugo dejanje, Skarabeji (Skarabej band), Eulex bend 2011, IF (tribute Pink Floyd), šeXpir band (aktualno od 2012)</p>


		<div class="about-subtitle">LINKI</div>

		<ul>
			<li>
				<p class="about-description">Album - SKARABEJI - <a href="https://www.youtube.com/watch?v=gftNFEGZAR4&t=44s" target="blank">Youtube</a></p>
			</li>
			<li>
				<p class="about-description">Singel – Mi smo tabol - <a href="https://www.youtube.com/watch?v=odzZODDh72w" target="blank"></a>Youtube</p>
			</li>
			<li>
				<p class="about-description">Singel – Valentinovo - <a href="https://www.youtube.com/watch?v=xRRm2eaN9ps" target="blank">Youtube</a></p>
			</li>
			<li>
				<p class="about-description">Singel -  Kaplja - <a href="http://www.youtube.com/watch?v=xtvOp9mgDak&feature=relmfu"
				 target="blank">Youtube</a></p>
			</li>
			<li>
				<p class="about-description">Singel – Želja - <a href="https://www.youtube.com/watch?v=2MED9uwjvCA" target="blank">Youtube</a></p>
			</li>
					
		</ul>
    </div>
        
</div>
