<div ng-controller="ConcertsCtrl">
    <div class="about-div">
    	<br>
    	<br>

    	<h3><strong>Napovednik koncertov</strong></h3>

<!--
V sredo 14.3. pa verjetno pod koncerte lahko daš objave za nastop ...
Kantavtor EF ob spremljavi solo kitarista in predstavitev samostojnega albuma "RDEČI ALBUM - Na koncu"
- Jesenice 1x gost na prireditvi Jožefovega sejma, 
- Jesenice Gledališče Tone Čufar Jesenice gost na občinski prireditvi dne 20.3.2018 ob 19.30 in napoved izida albuma na tisti dan, 
- Jesenice, Občinska knjižnica, predstavitev albuma dne 16.5.2018 ob 20h
-->
        <br>
        <br>
        <ul>
            <li> <span class="concert-date"><strong><h4>19.3.2018</h4></strong> </span>
             <span class="concert-description"><h4>Gost na prireditvi <strong> Jožefovega sejma</strong></span></h4></li>
        </ul>

        <br>
        <br>

        <ul>
            <li> <span class="concert-date"><strong><h4>20.3.2018 ob 19:30</h4></strong> </span>
             <span class="concert-description"><h4><strong>Gledališče Tone Čufar Jesenice</strong> gost na občinski prireditvi in napoved izida albuma na tisti dan</span></h4></li>
        </ul>

        <br>
        <br>

        <ul>
            <li> <span class="concert-date"><strong><h4>16.5.2018 ob 20:00</h4></strong> </span>
             <span class="concert-description"><h4><strong>Jesenice, Občinska knjižnica</strong> predstavitev albuma</span></h4></li>
        </ul>

        <br>
		<br>
    </div>
        
</div>