<div ng-controller="ConcertsCtrl">
    <div class="about-div">
    	<br>
    	<br>

    	<h3><strong>Napovednik koncertov</strong></h3>

        <br>
        <br>
        <ul>
            <li>
             <span class="concert-description"><h4><strong>19.3.2018 - Jožefov sejem, Jesenice</strong></span></h4></li>
        </ul>

        <br>
        <br>

        <ul>
            <li>
             <span class="concert-description"><h4><strong>20.3.2018 - Gledališče Tone Čufar Jesenice</strong></span></h4></li>
        </ul>

        <br>
        <br>

        <ul>
            <li>
             <span class="concert-description"><h4><strong>18.5.2018 - Tea-ter bar, Jesenice</strong></span></h4></li>
        </ul>

        <br>
        <br>

        <ul>
            <li>
             <span class="concert-description"><h4><strong>16.5.2018 - Občinska knjižnica Jesenice</strong></span></h4></li>
        </ul>

        <br>
		<br>
        <ul>
            <li>
             <span class="concert-description"><h4><strong>28.7.2018 - Bazen, Jesenice</strong></span></h4></li>
        </ul>
        <br>
		<br>
        <ul>
            <li>
             <span class="concert-description"><h4><strong>17.12.2018 - Vrtci Jesenice, Koroška Bela, Blejska Dobrava, Hrušica</strong></span></h4></li>
        </ul>

        <br>
		<br>
    </div>
        
</div>