<div ng-controller="MusicCtrl">
    <div class="audio-div">

    	
	    <h4 class='video-item-title'> Elvis Fajko - singli </h4>
	    <br>	

	    <div class='container audio-section'>
	    	
	    	<div class="audio-item" ng-repeat="audio in audioSingleList">
	    		
				<p class="audio-item-title">{{audio.title}}</p>
			      
				<audio controls="controls" controlsList="fullscreen nodownload remoteplayback foobar"  volume="0.1" preload="metadata">
				     <source ng-src="{{audio.url}}" type="audio/mp3">
				</audio>
				<a class="audio-download-button" ng-click="downloadAudioFile(audio.url, audio.title, audio.id, audio.downloadCount, 'singli')" target="_blank" download><img class="download" src='img/download1.png'/></a>
				<span class="download-count">{{audio.downloadCount}}</span>
			</div>
		</div>

		<h4 class='video-item-title'> <strong>Skarabeji - drugo dejanje </strong></h4>
    	<br>
    	<div class='container audio-section'>
    		
	    	<div class="audio-item" ng-repeat="audio in audioSkarabejiList track by $index">
	    		
				<p class="audio-item-title">{{audio.title}}</p>
			      
				<audio controls="controls" controlsList="fullscreen nodownload remoteplayback foobar" volume="0.1" preload="metadata">
				     <source ng-src="{{audio.url}}" type="audio/mp3">
				</audio>
				<a class="audio-download-button" ng-click="downloadAudioFile(audio.url, audio.title, audio.id, audio.downloadCount, 'skarabeji')" target="_blank" download><img class="download" src='img/download1.png'/></a>
				<span class="download-count">{{audio.downloadCount}}</span>
	    	</div>
	    </div>

	    <br>

	</div>
</div>
