<div ng-controller="SejkspirCtrl">

    <div class="sejkspir-div">
    	<div class="sejkspir-subtitle"><h3>O ŠEXPIR bandu</h3></div>


    	
		<p class="sejkspir-description">šeXpir band - je pet članska zasedba Jeseničanov, ki se z glasbo ukvarja od
		srednješolskih let dalje. V navedeni zasedbi ustvarja zadnjih šest let in v
		tem  obdobju  se trudijo biti prisotni na kar največ prireditvah v lokalnem
		okolju,  pot pa jih zanese tudi drugam. Z vidika instrumentalne zasedbe gre
		za  nekoliko  drugačen  pristop,  saj  v  glasbeni  skupini  za  pravi zvok
		poskrbijo  tri  kitare,  ter  »ritem  sekcija«  z  basom  in  bobni. Igrajo
		izključno v LIVE izvedbi in na nastopih izvajajo širok repertuar skladb, od
		nežnejših  in celo akustičnih izvedb pop in rock pesmi pa vse do malo trših
		a še vedno spevnih ritmov. Skladbe, ki jih izvajajo na nastopih so predvsem
		v  Slovenskem,  Angleškem  in  Hrvaškem  jeziku.  Torej  za vsakogar nekaj.
		Celovit in prepoznaven zvok skupine pomaga nadgraditi ustna harmonika in pa
		seveda glasovna zasedba štirih vokalov, ki izvedbi sami doda veliko širino.
		Z   repertuarjem  se  trudijo  prilagoditi  željam  občinstva  in  zahtevam
		prirediteljev. Odzivi občinstva pa so pozitivni. </p>


		<div class="sejkspir-subtitle"><h3>ČLANI</h3></div>

		<div class = "container">
		<ul>
			<li>
				<span class="about-description member-name">Tomaž Hiršenfelder (Feder)</span><span> - kitara, vokal</span>
			</li>
			<li>
				<span class="about-description member-name">Klemen Hiršenfelder (Klio)</span><span> - bobni, vokal</span>
			</li>
			<li>
				<span class="about-description member-name">Boštjan Šolar (Šoli)</span><span> - bas, vokal</span>
			</li>
			<li>
				<span class="about-description member-name">Elvis Fajko (Fajc)</span><span> - ak.kitara, vokal</span>
			</li>
			<li>
				<span class="about-description member-name">Janez Biček (Jani)</span><span> - solo kitara</span>
			</li>		
		</ul>
	</div>
	
	<div class = "container sejkspir-images-div">
			<ul>
				<li>
					<img class="sejkspir-img img-thumbnail"  src="assets/img/s1.jpg">
				</li>
				<li>
					<img class="sejkspir-img" src="assets/img/plakat-tisk1.jpg">
				</li>	
			</ul>
		</div>	

		 
    </div>
        
</div>
