<div ng-controller="SejkspirCtrl">

    <div class="sejkspir-div">
    	<div class="sejkspir-subtitle"><h2>O ŠEXPIR bandu</h2></div>


    	
		<p class="sejkspir-description">Elvis sestavi tekst.... Jeseniški kantavtor se na glasbenem področju javnosti predstavlja že od otroštva, zadnjih 25 let pa na področju rock-a in pop-a z glasbeno skupino ali pa kot kantavtor... Elvis sestavi tekst.... </p>


		<div class="sejkspir-subtitle">ČLANI</div>

		<p class="sejkspir-description">Elvis, Boštjan, Jani, Klemen, Tomaž</p>


		<div class = "container sejkspir-images-div">
			<ul>
				<li>
					<img class="sejkspir-img img-thumbnail"  src="assets/img/s1.jpg">
				</li>
				<li>
					<img class="sejkspir-img" src="assets/img/plakat-tisk1.jpg">
				</li>
				<li>
					<img class="sejkspir-img" src="assets/img/Elvis_1.jpg">
				</li>
				<li>
					<img class="sejkspir-img" src="assets/img/Elvis_2.jpg">
				</li>
				<li>
					<img class="sejkspir-img" src="assets/img/Elvis_3.jpg">
				</li>
						
			</ul>
		</div>	
    </div>
        
</div>