<div ng-controller="SejkspirCtrl">

    <div class="about-me">
    	<div class="about-subtitle">KRATKA PREDSTAVITEV</div>

		<ul>
			<li>
				<img class="sejkspir-img" src="assets/img/s1.jpg">
			</li>
			<li>
				<img class="sejkspir-img" src="assets/img/plakat-tisk1.jpg">
			</li>
			<li>
				<img class="sejkspir-img" src="assets/img/Elvis_1.jpg">
			</li>
			<li>
				<img class="sejkspir-img" src="assets/img/Elvis_2.jpg">
			</li>
			<li>
				<img class="sejkspir-img" src="assets/img/Elvis_3.jpg">
			</li>
					
		</ul>
    </div>
        
</div>