<div ng-controller="VideoCtrl">
    
    <div class="video-div">

    	<!-- <div class="video-item" ng-repeat="video in videoSourcesSkarabeji">
			<p class="video-item-title">{{video.title}}</p>
			<iframe id="video" src="{{video.url}}" frameborder="0" allowfullscreen 'unsafe-inline' 'unsafe-eval'></iframe>
    	</div> 

    	<div class="video-item" ng-repeat="video in videoSourcesSejkspir">
			<p class="video-item-title">{{video.title}}</p>
			<iframe id="video" src="{{video.url}}" frameborder="0" allowfullscreen 'unsafe-inline' 'unsafe-eval'></iframe>
    	</div>  -->

    	<div class="video-item" ng-repeat="video in playlistSources track by $index">
			<h4 class="video-item-title">{{video.title}}</h4>
			<iframe id="video" src="{{video.url}}" frameborder="0" allowfullscreen 'unsafe-inline' 'unsafe-eval'></iframe>
			<br>
			<div ng-show="$index === 0" class="album-description">Skladba <strong>MESTO JEKLA IN NARCIS</strong>, ki je posvečena mestu Jesenice, skuša odvrniti negativno in prinesti pozitivno energijo mestu in je priprava na <strong>RDEČI ALBUM</strong>
			</div>

			<div ng-show="$index === 1" class="album-description">Skupina šeXpir band
			</div>

			<div ng-show="$index === 2" class="album-description">Aktualna povezava za zbrana dela skupine Skarabeji s fotografijami
			</div>


    	</div>
	</div>
</div>