<div class="navigation-bar" ng-controller="NavCtrl">

    <img class="burger-menu-icon" ng-click="classToggle = !classToggle" src="/assets/img/burger-menu.png" alt="" />

    <div class="nav-bar-panel" ng-class="{'active-panel': classToggle}">
        <div class="nav-logo">
            <a href="domov">
                <img class="logo-img" src="/assets/img/logo-sm.png" alt="" />
            </a>
        </div>
        <a class="btn nav-link home" ng-click="classToggle = !classToggle" href="domov">
            DOMOV
        </a>
        <a class="btn nav-link" ng-click="classToggle = !classToggle" href="/koncerti">
            KONCERTI
        </a>
        <a class="btn nav-link" ng-click="classToggle = !classToggle" href="/glasba">
            GLASBA
        </a>
        <a class="btn nav-link" ng-click="classToggle = !classToggle" href="/video">
            VIDEO
        </a>
        <div class="nav-link-icons">
            <a href="https://www.facebook.com/kantavtorelvisfajko/" target="_blank">
                <img class="logo-fb" src="/assets/img/icon-fb.png" alt="" />
            </a>
            <a href="https://www.youtube.com/user/elvisfajko1" target="_blank">
                <img class="logo-youtube" src="/assets/img/icon-youtube.png" alt="" />
            </a>
        </div>
    </div>
</div>
