<div class="koncerti-div">
    <p class="koncerti-title">Pretekli dogodki</p>
    <div class="koncerti-inner-div">

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">20.12.2019</p>
                    <p class="concert-location">Joker bar Jesenice</p>
                </p>
            </span>
        </div>


        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">26.12.2019 </p>
                    <p class="concert-location">Joker bar Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">30.12.2019</p>
                    <p class="concert-location">Trg Toneta Čufarja Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">12.03.2019</p>
                    <p class="concert-location"> Dom Svobode Slovenski Javornik</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">5.7.2019</p>
                    <p class="concert-location">21h - Bled Kult (EF &amp; 1 Supporter)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">13.7.2019</p>
                    <p class="concert-location"> Kranj Klubar (EF &amp; 2 Supporters)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">6.5.2019</p>
                    <p class="concert-location"> 21h - Ljubljana Prulček (EF &amp; 4 Supporters)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">29.3.2019</p>
                    <p class="concert-location"> 21h - Kranjska Gora (EF &amp; 4 Supporters)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">23.3.2019</p>
                    <p class="concert-location">21h - Bistrica pri Tržiču Salamander (EF &amp; 4
                        Supporters)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">20.3.2019</p>
                    <p class="concert-location">19.45 - Celje (EF &amp; One Supporter)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">19.3.2018</p>
                    <p class="concert-location">Jožefov sejem Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">15.3.2019</p>
                    <p class="concert-location">10.00 - Jesenice Jožefov sejem (EF)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">12.3.2019</p>
                    <p class="concert-location">19.30 - Slo. Javornik Dom svobode (EF & 1 Supporter)</p>
                </p>
            </span>
        </div>


        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">22.2.2019</p>
                    <p class="concert-location">19.30 - Lesce Cawboy bar (EF)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">
            <span class="concert-description">
                <p>
                    <p class="concert-date">8.2.2019</p>
                    <p class="concert-location">20h - Kamna Gorica (EF)</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">20.3.2018</p>
                    <p class="concert-location"> Gledališče Tone Čufar Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">18.5.2018</p>
                    <p class="concert-location">Tea-ter bar Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">16.5.2018</p>
                    <p class="concert-location">Občinska knjižnica Jesenice</p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">28.7.2018</p>
                    <p class="concert-location">Bazen Jesenice </p>
                </p>
            </span>
        </div>

        <div class="koncerti-item">

            <span class="concert-description">
                <p>
                    <p class="concert-date">17.12.2018</p>
                    <p class="concert-location">Vrtci Jesenice Koroška Bela Blejska Dobrava Hrušica</p>
                </p>
            </span>
        </div>
    </div>
</div>
