<div>
    <div class="audio-div">
        <h4>
            <a class="p-link" href="https://www.youtube.com/watch?v=utWUE0hqqSc" target="_blank">
                <strong>3. MODRI ALBUM - Vmes, izdan 4.7.2019</strong>
            </a>
        </h4>
        <a href="https://www.youtube.com/watch?v=utWUE0hqqSc" target="_blank">
            <picture>
                                <source srcset="assets/img/modri-album_md.jpg" media="(min-width: 1200px)" />
                                <source srcset="assets/img/modri-album_md.jpg" media="(min-width: 600px)" />
                                <source srcset="assets/img/modri-album_sm.jpg" media="(min-width: 280px)" />

                               <img src="assets/img/modri-album_md.jpg" alt="Slika rdeci album" style="width:auto;">

            </picture>
        </a>    
        <br/>
        <br/>
        <br/>
        <h4>
            <a class="p-link" href="https://www.youtube.com/watch?v=WFC4pdR3dvU" target="_blank">
                <strong>2. RDEČI ALBUM - Vmes, izdan 20.3.2018</strong>
            </a>
        </h4>
        <a href="https://www.youtube.com/watch?v=WFC4pdR3dvU" target="_blank">
            <picture>
                                <source srcset="assets/img/rdeci_album-md.jpg" media="(min-width: 1200px)" />
                                <source srcset="assets/img/rdeci_album-sm.jpg" media="(min-width: 600px)" />
                                <source srcset="assets/img/rdeci_album-sm.jpg" media="(min-width: 280px)" />

                                <img src="assets/img/rdeci_album-md.jpg" alt="Slika rdeči album" style="width:auto;">
            </picture>
        </a>    
        <br/>
        <br/>
        <br/>
        <h4>
            <a class="p-link" href="https://www.youtube.com/watch?v=gftNFEGZAR4&t=698s" target="_blank">
                <strong>1. Drugo dejanje, skupina Skarabeji, izdano leta 2002</strong>
            </a>
        </h4>
        <a href="https://www.youtube.com/watch?v=gftNFEGZAR4&t=698s" target="_blank">
            <picture>
                                <source srcset="assets/img/skarabeji-naslovnica-large.png" media="(min-width: 1200px)" />
                                <source srcset="assets/img/skarabeji-naslovnica-md.png" media="(min-width: 600px)" />
                                <source srcset="assets/img/skarabeji-naslovnica-sm.png" media="(min-width: 280px)" />

                                <img ng-src="assets/img/skarabeji-naslovnica-md.png" alt="logo">
            </picture>
        </a>    

       <!-- <div class='container audio-section'>

            <div class="audio-item" ng-repeat="audio in audioSingleList track by $index">

                <p class="audio-item-title">{{audio.title}}</p>

                <audio controls="controls" controlsList="fullscreen nodownload remoteplayback foobar" volume="0.1" preload="metadata">
                    <source ng-src="{{audio.url}}" type="audio/mp3">
                </audio>
                <a class="audio-download-button" href="{{audio.url}}" target="_blank" download><img class="download" src='assets/img/download1.png' /></a>
                <span class="download-count">{{audio.downloadCount}}</span>
            </div>
        </div>

        <h4 class='video-item-title'> <strong>Skarabeji - drugo dejanje </strong></h4>
        <br>
        <div class='music-description'>
            
              <picture>
                <source srcset="assets/img/skarabeji-naslovnica-large.png" media="(min-width: 1200px)" />
                <source srcset="assets/img/skarabeji-naslovnica-md.png" media="(min-width: 600px)" />
                <source srcset="assets/img/skarabeji-naslovnica-sm.png" media="(min-width: 280px)" />

                <img ng-src="assets/img/skarabeji-naslovnica-md.png" alt="logo">
            </picture>
            <div class='album-description'> Leta 2003 je Elvis Fajko kot član skupine Skarabeji izdal svoj prvi CD, kjer je sodeloval kot vokalist, ter z akustično kitaro ... </div>
        </div>
        <br>

        <div class='container audio-section'>

            <div class="audio-item" ng-repeat="audio in audioSkarabejiList track by $index">

                <p class="audio-item-title">{{audio.title}}</p>

                <audio controls="controls" controlsList="fullscreen nodownload remoteplayback foobar" volume="0.1" preload="metadata">
                    <source ng-src="{{audio.url}}" type="audio/mp3">
                </audio>
                <a class="audio-download-button" href="{{audio.url}}" target="_blank" download><img class="download" src='assets/img/download1.png' /></a>
            </div>
        </div>
-->
        <br>

    </div>
</div>
