<div ng-controller="VideoCtrl">
    <div class="video-div">
        <div class="video-item">
            <iframe id="video" src="https://www.youtube.com/embed/Hv45aOB9vic" frameborder="0" allowfullscreen unsafe-inline unsafe-eval></iframe>
        </div>
        <div class="video-item">
            <iframe id="video" src="https://www.youtube.com/embed/e2f687fNA9Y" frameborder="0" allowfullscreen unsafe-inline unsafe-eval></iframe>
        </div>

        <div class="video-item">
            <iframe id="video" src="https://www.youtube.com/embed/iDyy6M78bd0" frameborder="0" allowfullscreen unsafe-inline unsafe-eval></iframe>
        </div>

        <div class="video-item">
            <iframe id="video" src="https://www.youtube.com/embed/iBwaozRjmbc" frameborder="0" allowfullscreen unsafe-inline unsafe-eval></iframe>
        </div>

        <br>
        <div class="video-item">
            <iframe id="video" src="https://www.youtube.com/embed/oOZWK3zgPLA" frameborder="0" allowfullscreen unsafe-inline unsafe-eval></iframe>
        </div>
    </div>
</div>
