* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.navigation-bar {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 60px;
  z-index: 1001;
}

.nav-bar-panel {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.btn {
  /* display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
    width: 8%;
    letter-spacing: 0; */
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  /* margin: 0 0 2em; */
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  width: 100px;
  text-align: center;
  /*  width: 100%;  */
}

.nav-burger-menu {
  display: none;
}

.btn:hover {
  text-decoration: none;
}

.nav-link:hover, .nav-link:active {
  letter-spacing: 5px;
}

.nav-link:after, .nav-link:before {
  backface-visibility: hidden;
  border: 1px solid transparent;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after, .nav-link:hover:before {
  backface-visibility: hidden;
  border-color: brown;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.logo-img {
  max-height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.nav-link-icons {
  position: absolute;
  right: 0px;
}

.nav-link-icons>a {
  text-decoration: none;
}

img.logo-fb {
  width: 23px;
}

img.logo-youtube {
  width: 23px;
}

.burger-menu-icon {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) and (orientation: portrait) {
  .nav-bar-panel {
    display: block;
    height: 300px;
    width: 60%;
    background-color: black;
  }
  .nav-bar-panel.active-panel {
    display: none;
  }
  .nav-logo {
    right: 18%;
    position: absolute;
    top: 1px;
  }
  .btn.nav-link.home {
    margin-top: 60px;
  }
  .btn.nav-link {
    margin-left: 20px;
    padding-left: 20px;
    display: block;
    text-align: left;
    margin-top: 20px;
    text-decoration: none;
    padding: 0px;
    width: 40%;
    background-color: black;
  }
  .nav-burger-menu {
    display: block;
  }
  .burger-menu-icon {
    display: block;
    top: 7px;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 10px;
  }
  .nav-link-icons {
    left: 20px;
    margin-top: 15px;
  }
  .btn.nav-link {
    border-bottom: 1px darkred solid;
    margin-top: 10px;
  }
  .logo-img {
    height: 50px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 800px) and (orientation: landscape) {
  .logo-img {
    right: 0%;
    height: 50px;
  }
  .nav-bar-panel.active-panel {
    display: none;
  }
  .nav-link-icons {
    left: 20px;
    margin-top: 15px;
  }
  .nav-logo {
    right: 18%;
    position: absolute;
    top: 1px;
  }
  .nav-bar-panel {
    display: block;
    height: 300px;
    width: 60%;
    background-color: black;
    margin-top: 60px;
  }
  .nav-burger-menu {
    display: block;
  }
  .btn.nav-link {
    margin-left: 20px;
    padding-left: 20px;
    display: block;
    text-align: left;
    margin-top: 20px;
    text-decoration: none;
    padding: 0px;
    width: 40%;
    background-color: black;
  }
  .burger-menu-icon {
    display: block;
    top: 7px;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 10px;
  }
  .btn.nav-link {
    border-bottom: 1px darkred solid;
    margin-top: 10px;
  }
}