.video-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 30px auto 20px auto;
    padding-top: 100px;
    position: relative;
}

.video-item {
    margin-bottom: 30px;
    width: 50%;
}

#video {
    height: 300px;
    width: 90%;
}

@media screen and (max-width: 600px) {
    .video-item {
        width: 100%;
    }
    #video {
        width: 100%;
    }
    .video-div {
        width: 90%;
    }
}